*{
    padding: 0;
    width: auto;
    height: auto;
    margin: 0;
}

body{
    margin: 0;
}
header{
    background-image: linear-gradient(120deg, #fdfbfb9f 0%, #ebedee91 100%), url(img/Studio_Ghibli_logo2.svg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    width: 100vw;
    max-width: 1440px;
    height: 700px;
    margin-left: 20px;
       
}
.container-menu{
    display:flex;
    justify-content: space-between;
    /*position: fixed;*/    
    background-image: linear-gradient(to right, #4facfe 0%, #00f1fede 100%);
    width: 100%;
    max-width: 1440px;
    height:80px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(120, 121, 122, 0.603);
   

}
.container-menu menu {
    padding: 10px;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px rbg 0 0 .5;
}
/*.prueba-menu .menu-despegable{
    /*position: fixed;
    padding: 50px;
    top: 0;
    left: 0;
    width: 20%;
    height: 40%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f1fede 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    box-shadow: 0 0 6px rgb(0, 0, .5);
    transition:transform .3s ease-in-out; /*se hace con js para que desaparezca y aparezca el menu
    transform: translate(1%);
    margin-right: 50%;
    border-radius: 15px;

}*/
.container-menu .menu-despegable{
    display: flex;
    /*background-image: linear-gradient(to right, #4facfe 0%, #00f1fede 100%);*/
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    list-style: none;
    transition: all o.3s;
    /*border-radius: 15px;
    box-shadow: 0 0 6px rgba(78, 78, 236, 0.637);*/

}
.spread{
   transform: translate(0);
}
.menu-despegable a {

    color: white;
    font-size: 32px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: #58728a;
}
.container-menu .carbon{
    width: 100px;
    height: 80px ;
}
.close-menu{
    display: none;
}
.menu_opened{
    opacity: 1;
    pointer-events: all
}
/*.flexsearch--input{
    border-radius: 15px;
    width:70%;
    max-width: 350px;
    height: 40px;
}*/

/*Empieza la parte central de la pagina*/
.central-container{

    display: flex;
    flex-wrap: wrap;
    /*background-color: darkorchid;*/
    margin-top: 15px;
    bottom: 50px;
    justify-content:space-around;
    width: 100vw;
    max-width: 1440px;
    height: 700px;
    margin-top: 10%;

}

.central-container img{

    border-radius: 15px;
    width:50%;
    max-width: 650px;
    height: 350px;
    align-items:flex-start;
    bottom: 100px;
    
}
.central-container p{

    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    text-align: center;
    align-items:flex-end;
    max-width: 500px;
    height: 380px;
      
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 72px;
    color: rgb(5, 5, 63);
    top: 15px;
    text-align: center;
    justify-content: center;

    
}
h2{
    font-size: 38px;
    font-family: 'Indie Flower', cursive;
    border-bottom: 6px solid rgb(5, 5, 63);
    margin-left: 50px;
}
 .movies{
    display:flex;
    flex-wrap: wrap;
    background-color:#6AF2F0 ;
    border-radius: 10%;
}
 
 .movies img{
    width:180px;
    height: 180px;
    border-color: black;
    border-radius: 10%;
 }
 .columna1 {
    display: flex;
    flex-grow: 8;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
           
 }
  .columna2 {
    flex-grow: 8;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    
 }

/*Empieza la parte del footer*/
footer{
    display: flex;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(120deg, #fdfbfb9f 0%, #ebedee91 100%);    
    flex-direction:column;
    justify-content: space-between;
    bottom: 200px;
   
}
footer p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
   
}
.sn {
    width: 150px;
    height: 80px;
    /*align-items:flex-end ;
    flex-flow: wrap;*/
    right: 500px;
    margin-left: 80%;

}
.totorosombrilla {
    width: 180px;
    left: 80px;
    align-items: flex-start;
}
/*Segunda vista HU2*/

#catalago{
    display:none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color:#6AF2F0;
    justify-content:space-between;
    /*align-items: flex-start;*/
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    margin-top:50px;
}
.container div{
    
    flex-flow: wrap;
    justify-content:space-between;
    
}
.container img{

    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 8px rgba(2, 34, 66, 0.603);
    margin-left: 10px;
    margin-right: 10px;   
    margin-bottom: 10px; 
    margin-top: 10px;
    
}
.container h3{
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    color: #0e6c97; 
    margin-left: 10px;    
    margin-bottom: 10px; 
}
.container h4{
    font-size: 22px;
    margin-left: 10px;    
    margin-bottom: 10px;
}
.container p{

    font-size: 22px;
    margin-left: 10px;    
    margin-bottom: 10px; 
}
#filtro{
    border-radius: 15px;
    width: 40%;
    max-width: 310px;
    height: 40px;
    font-size: 22px;
    margin-top: 10px;
    color: black;
    background-image: linear-gradient(to right, #738fa88c 0%, #00f1fea4 100%);

}
/*Tercera vista HU3*/
#topPeliculas{
    display: none;
}
.topPeliculas{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    /*align-items: flex-start;*/
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 20px;
    
}

.topPeliculas  article{
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: #0e6c97; 
    margin-left: 50px;
    margin-top: 10px;
    float: left;
   
}    
.topPeliculas img{
   display: flex;
   justify-items: right;
   /*float: right;*/
    width: 280px;
    height: 180px;
    
}
.ranking{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color:#059ec0ce;
    width: 100%;    
    max-width: 1440px;
    margin-top: 20px;
    border-radius: 15px;
    
    
    
    }

.ranking div{
    margin-top: 0;
    margin-bottom: 0;
    justify-items: auto;
    flex-wrap: wrap;
}
.ranking img{
    align-items: auto;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 8px rgba(2, 34, 66, 0.603);  
    margin-top: 20px;
    margin-left: 10px; 
    
}
.ranking h3{
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    color: white; 
    margin-left: 10px;
    margin-top: 10px;
}
.ranking h4{

    font-size: 22px;
    margin-left: 10px;
}
.ranking p {

    text-orientation: sideways;
    width: 250px;
    height: 250px;
    font-size: 18px;
    margin-left: 10px;
}
#btn{
    border-radius: 15px;
    width: 40%;
    max-width: 200px;
    height: 40px;
    font-size: 22px;
    margin-top: 10px;
    color: black;
    background-image: linear-gradient(to right, #738fa88c 0%, #00f1fea4 100%);
    align-items: center;
    justify-content: center;

}

/*Prueba de responsive en la pagina*/
@media (max-width:900px) {
    
       
    .menu-despegable {
        flex-direction: column;
        /*padding: 80%;*/
       /* left:0;
        top: 0;*/
        text-align:center;
        width:100%;
        max-width: 900px;
        align-items: center;
        background-color: rgb(32, 213, 236);
        display: block ;
        color:white;
        margin-left: 0%;
               
    }
.menu-despegable:hover{
    background-color:rgb(200, 240, 240);
}
    .menu-despegable a{
        line-height: 70px;
        color: white;
    }

    .close-menu {
        display:block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 20px 15px ;
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }
    .central-container {
        display: flex;
        flex-direction:row;
        width: 100% ;
        max-width: 900px;
           
    }

    .central-container img{
            max-width: 200px;
            height: 150px;
            align-items: center;  

     }

    .central-container p{

        font-family: 'Indie Flower', cursive;
        font-size: 12px;  
        max-width: 200px;
        height: 150px;
        
    }

    .container{
        flex-direction: column;

    }
    }
/*Prueba de responsive para dispositivos movil*/
@media screen and (max-width:500px) {

        .h1{
            font-family: 'Indie Flower', cursive;
            font-size: 22px;  
        }

        .h2{
            font-family: 'Indie Flower', cursive;
            font-size: 18px;  

        }

    .central-container{
        display: flex;
        width: 100%;
        max-width: 500px;
    }
        .central-container img{
            width: 150px;
            height: 80px;
        }
        .central-container p{

            font-family: 'Indie Flower', cursive;
            font-size: 11px;  
            width: 150px;
            height: 80px;
        
        }

        .container-menu{
            width: 100%;

        }

        .container-menu .menu-despegable{
            text-align: center;
            width: 100%;
        }
        .menu-despegable {
            flex-direction: column;
            padding: 0;
           /* left:0;
            top: 0;*/
            text-align:center;
            width:100%;
            max-width: 500px;
            align-items: center;
            background-color: rgb(32, 213, 236);
            display: block;
        }    
         
     }
    


