header{
    background-image: linear-gradient(120deg, #fdfbfb9f 0%, #ebedee91 100%), url(img/Studio_Ghibli_logo2.svg.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    width: 100vw;
    max-width: 1440px;
    height: 500px;
       
}
.prueba-menu{
    display:flex;
    justify-content: space-between;
    /*position: fixed;*/    
    background-color: #059dc0;
    width: 100%;
    max-width: 1440px;
    height:100px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(120, 121, 122, 0.603);

}
.prueba-menu menu {
    padding: 10px;
    top: 10px;
    left: 10px;
    background-color: white;
    width: 45px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px rbg 0 0 .5;
}
.prueba-menu .menu-despegable{
    /*position: fixed;*/
    padding: 50px;
    top: 0;
    left: 0;
    width: 20%;
    height: 40%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f1fede 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    box-shadow: 0 0 6px rgb(0, 0, .5);
    transition:transform .3s ease-in-out; /*se hace con js para que desaparezca y aparezca el menu*/
    transform: translate(1%);
    margin-right: 50%;
    border-radius: 15px;

}
.spread{
    transform: translate(0);
}
.menu-despegable a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.close-menu{
    display: none;
}
.menu_opened{
    opacity: 1;
    pointer-events: all
}
.flexsearch--input{
    border-radius: 15px;
    width:70%;
    max-width: 350px;
    height: 40px;
}

/*Empieza la parte central de la pagina*/
.central-container{

    display: flex;
    flex-wrap: wrap;
    /*background-color: darkorchid;*/
    bottom: 50px;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    height: 700px;
    margin-top: 10%;

}

.central-container img{

    border-radius: 15px;
    width:50%;
    max-width: 450px;
    height: 250px;
    align-items: center;
    
}

.central-container article{

    font-family: 'Indie Flower', cursive;
    justify-content:center;
    font-size: 26px;
    color: darkblue;
    text-align: center;
}

.central-container p{

    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    text-align: center;
    align-items:flex-end;
    max-width: 400px;
    height: 350px;
      
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 72px;
    color: rgb(5, 5, 63);
    bottom: 20%;
    text-align: center;
    
}

h2{
    font-size: 38px;
    font-family: 'Indie Flower', cursive;
    color: rgb(5, 5, 63);
   
}
 .movies{
    display:flex;
    flex-wrap: wrap;
    background-color:#6AF2F0 ;
    border-radius: 10%;
  }
 
 .movies img{
    width:180px;
    height: 180px;
    border-color: black;
    border-radius: 10%;
 }
 .columna1 {
    display: flex;
    flex-grow: 8;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
           
 }
  .columna2 {
    flex-grow: 8;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    
 }
/*Empieza la parte del footer*/
footer{
    display: flex;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(120deg, #fdfbfb9f 0%, #ebedee91 100%);    
    flex-direction:column;
    justify-content: space-between;
    bottom: 200px;
   
}
footer p{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
   
}
.sn {
    width: 150px;
    height: 80px;
    /*align-items:flex-end ;
    flex-flow: wrap;*/
    right: 500px;
    margin-left: 80%;

}
.totorosombrilla {
    width: 180px;
    left: 80px;
    align-items: flex-start;
}

/*Prueba de responsive en la pagina*/
@media (max-width:800px) {
    .menu-despegable {
        flex-direction: column;
        left:0;
        top: 0;
        width:100%;
        align-items: center;
        background-color: rgb(32, 213, 236);
       
    }

    .menu-despegable a{
        line-height: 70px;
        color: white;
    }

    .close-menu {
        display:block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 20px 15px ;
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }
    .central-container {
        
        flex-direction: column;
        text-align:center;
    
    }

    .central-container img{
            max-width: 200px;
            height: 150px;
            align-items: center;   
     }
     @media screen and (max-width:500px) {

        .h1{
            font-family: 'Indie Flower', cursive;
            font-size: 22px;  
        }

        .h2{
            font-family: 'Indie Flower', cursive;
            font-size: 18px;  

        }

        .central-container p{

            font-family: 'Indie Flower', cursive;
            font-size: 12px;  
        
        }
    
         
     }
    

}
